Lists are the build in datatype in python.
lists are mutable(we can make changes in it after build in)

In [ ]:
employees=[ 21,"siddhi",77,45]
print(employees)

[21, 'siddhi', 77, 45]

In [ ]:
print(employees[1:4])

['siddhi', 77, 45]

apend means add element at the end of list

In [ ]:
employees.append("radha")
print(employees)

[21, 'siddhi', 77, 45, 'radha', 'radha']

sorts():sorts the elements in list in ascending order

In [ ]:
values=[99,87,65,100,45,75]
values.sort()
print(values)

[45, 65, 75, 87, 99, 100]

sort() fun permenantly sorts the list and save it as sorted
print(sorted(values)) temporary sort list later on it gives original list

In [ ]:
num=[23,43,98,1000,431,323]
print(sorted(num))
print(num)

[23, 43, 98, 323, 431, 1000]
[23, 43, 98, 1000, 431, 323]

to give list in descending order we give reverse function
**num.sort(reverse=True)**

In [ ]:
num.sort(reverse=True)
print(num)

[1000, 431, 323, 98, 43, 23]

**num.reverse()** only reverse the string no sorting

In [ ]:
num.reverse()
print(num)

[23, 43, 98, 323, 431, 1000]

insert use to add element where you want in list
**scores.insert(indx,ele)**

In [ ]:
scores=[78,79,90,87]
scores.insert(2,99)
print(scores)

[78, 79, 99, 90, 87]

**scores.remove(element)**
if there are two same elements it only remove first occurance

In [ ]:
scores.insert(3,99)
print(scores)
scores.remove(99)
print(scores)

[78, 79, 99, 99, 90, 87]
[78, 79, 99, 90, 87]

**scores.pop(index)**
if index not shown it remove last element

In [ ]:
scores.pop()
print(scores)

[78, 79, 99, 90]

tuples are build in datatypes in python
**immutable**
tuple=(1,2,3)
comma is imp to get datatype as tuple

In [ ]:
tup=(2,3,4,5)
print(type(tup))
tuple=("okk")
print(type(tuple))

<class 'tuple'>
<class 'str'>

In [ ]:
print(tup[0])
print(tup[1:3])

2
(3, 4)

properties of tuple=
1.**tup.index**=gives index of that number
2.**tup.count**=gives occurance of number

In [ ]:
tup1=(22,33,44,55,55,65)
print(tup1.index(33))
print(tup1.count(55))

1
2

**dictionaries:**
1)store data values in **key:value** pairs
2)they are unordered(no indexing)
3)mutable
4)don't allow duplicate keys

In [ ]:
info={'name':'siddhi','age':19,'marks':[21,22,23]}
print(info)
print(type(info))

{'name': 'siddhi', 'age': 19, 'marks': [21, 22, 23]}
<class 'dict'>

In [ ]:
info={'name':'siddhi','age':19,'marks':[21,22,23]}
print(info['name'])
info['name']='vaidehi'
print(info)

siddhi
{'name': 'vaidehi', 'age': 19, 'marks': [21, 22, 23]}

**nested dictionary**

In [ ]:
info2={'name':'siddhi','skills':'coding','marks':{'english':98,'maths':99}}
print(info2)

{'name': 'siddhi', 'skills': 'coding', 'marks': {'english': 98, 'maths': 99}}

In [ ]:
print(info2['marks']['maths'])
print(info2['skills'])

99
coding

**dict.keys**= return key values from dictionary

In [ ]:
info={'name':'siddhi','age':19,'marks':[21,22,23]}
print(info.keys())
keys=list(info.keys())
print(keys)

dict_keys(['name', 'age', 'marks'])
['name', 'age', 'marks']

**dict.values**=return values from dictionary

In [ ]:
values=list(info.values())
print(values)

['siddhi', 19, [21, 22, 23]]

**dict.items**=returns keys and values

In [ ]:
items=list(info.items())
print(items)

[('name', 'siddhi'), ('age', 19), ('marks', [21, 22, 23])]

if we dont convert it into list it by default convert as a tuple

get method=
**dict.get("key")**=returns value of particular key

In [ ]:
print(info.get('age'))
print(info.get('ae'))

19
None

dict.update({newdict})

In [ ]:
info.update({'adress':'pune'})
print(info)
# or we can try/
new_dict={'birthday':'2004'}
info.update(new_dict)
print(info)

{'name': 'siddhi', 'age': 19, 'marks': [21, 22, 23], 'adress': 'pune'}
{'name': 'siddhi', 'age': 19, 'marks': [21, 22, 23], 'adress': 'pune', 'birthday': '2004'}

**dict.pop("key")**

In [ ]:
info.pop('age')
print(info)

{'marks': [21, 22, 23], 'adress': 'pune', 'birthday': '2004'}

**dict.popitem()**= here we dont have to mention any key it simply deletes last one

In [ ]:
info.popitem()
print(info)

{'marks': [21, 22, 23], 'adress': 'pune'}

**dict.clear()**

In [ ]:
info.clear()
print(info)

{}

**Set=**
1)each element in a set are unique and immutable
2)we can not create set using list and dictionary as they are mutable
3)does not allow repetation of element in a set

In [ ]:
numbs={1,2,3,4}
print(numbs)
print(type(numbs))
numb2={2,1,1,1,1,13,2}
print(numb2)

{1, 2, 3, 4}
<class 'set'>
{1, 2, 13}

In [ ]:
nums4={1,'apple',(1,2,3)}
print(nums4)

{'apple', 1, (1, 2, 3)}

**operations on set=**
set.add(el)
set.remove(el)
set.clear()=empty set
set.pop()=removes 1st element
set.union(set2)
set.intersection(set2)

In [ ]:
numbs={1,2,3,4}
print(numbs)
numbs.add(9)
print(numbs)
numbs.remove(3)
print(numbs)
numbs.clear()
print(numbs)

{1, 2, 3, 4}
{1, 2, 3, 4, 9}
{1, 2, 4, 9}
set()

In [ ]:
num1={1,2,3,4,5}
num2={6,2,8,9,10}
print(num1.union(num2))
print(num1.intersection(num2))

{1, 2, 3, 4, 5, 6, 8, 9, 10}
{2}