# while loop=
while condition:

statement1

statement2

...

statement n

In [ ]:
i=1
while i<=5:
  print("hello world")
  i=i+1

hello world
hello world
hello world
hello world
hello world

print nos. from 1 to 100

In [ ]:
i=1
while i<=100:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

print the multiplication table of a number 'n'

In [ ]:
i=1
while i<=10:
  print("2 x",i,"=",2*i)
  i=i+1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
i=1
while i<=10:
  print("17 x",i,"=",17*i)
  i=i+1

17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153
17 x 10 = 170

print the elements [12,78,34,65,100,85,46,89]

In [ ]:
list=[12,78,34,65,100,85,46,89]
i=0
while i<len(list):
  print(list[i])
  i=i+1

12
78
34
65
100
85
46
89

search if string has "m"

In [ ]:
string="matermelon"
i=0
while i<len(string):
  if string[i]=="m":
    print(True)
  else:
      print(False)
  i=i+1

True
False
False
False
False
True
False
False
False
False

In [ ]:
i=100;
while i>=1:
  print(i)
  i=i-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

# for loop:

In [ ]:
l=[12,14,16,18,30]
for i in l:
  print(i)

12
14
16
18
30

In [ ]:
fruits=['apple','banana','mango','pear']
for fruit in fruits:
  print(fruit)

apple
banana
mango
pear

In [ ]:
fruits=['apple','banana','mango','pear']
for fruit in fruits:
  if len(fruit)==5:
    print(fruit);
  else:
    print("no fruit found");

apple
no fruit found
mango
no fruit found

In [ ]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for i in range(100,0,-1):
  print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in range(1,11):
  print("7 x",i,"=",7*i)

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
sum=0
for i in range(10,30):
  sum=sum+i
  print(sum)

10
21
33
46
60
75
91
108
126
145
165
186
208
231
255
280
306
333
361
390

# Control Statements in Loops:
1.continue(skip):
it returns the control to the begining of the loop

2.break: it brings control out of the loop

3.pass:we use pass statements to write empty loops

search for number 'X' in a given list.

In [ ]:
l=[12,13,14,45,65,76]
n=65
for i in l:
 print(i)
 if i==n:
  break

12
13
14
45
65

In [ ]:
l=[12,13,14,45,65,76]
n=65
for i in l:
 print(i)
 if i==n:
   continue

12
13
14
45
65
76

2)Print all letters of a sentence except 'e' and 'n'

In [ ]:
string='hello neha'
for i in string:
   if i=='e' or i=='n':
     continue
   else:
      print(i)

h
l
l
o

h
a

3) Given a nested list of citizens having their age,name,adress,show citizens eligible for voting

In [ ]:
citizens=[[20,'siddhi','pune'],[19,'seeta','mumbai'],[12,'geeta','karad'],[15,'rahul','jammu']]
for citizen in citizens:
   if citizen[0]>18: #here we take [0] becoz age is at 0th posn in lis
    print(citizen[1],"is eligible for voting")
   else:
    print(citizen[1],"is not eligible for voting")

siddhi is eligible for voting
seeta is eligible for voting
geeta is not eligible for voting
rahul is not eligible for voting

In [ ]:
citizens=[[20,'siddhi','pune'],[19,'seeta','mumbai'],[12,'geeta','karad'],[15,'rahul','jammu']]
for citizen in citizens:
   if citizen[0]>18: #here we take [0] becoz age is at 0th posn in lis
    print(citizen[1],"is eligible for voting")
   else:
    break

siddhi is eligible for voting
seeta is eligible for voting

4)Create a code implementing pass statement

In [ ]:
for i in range(1,11):
  print(i)
  if i==5:

SyntaxError: incomplete input (<ipython-input-15-047d12b6d02d>, line 4)

In [ ]:
for i in range(1,11):
  print(i)
  if i==5:
    pass  #pass does not give error for empty code

1
2
3
4
5
6
7
8
9
10

# Functions:
![Screenshot 2024-07-16 183827.png]()

In [ ]:
def add(num1,num2):
  print(num1+num2)

In [ ]:
add(5,10)

15

In [ ]:
add(21,42)

63

Types of Functions in python:

1)Build in functions:
print(),input(),type(),len(),range()

2)User defined functions

1)Write a function to print greeting message by taking a name from user.also use default parameter

In [ ]:
 def greet(name):
  print('Hello',name,'hope you are doing great')

In [ ]:
  name=input('Enter your Name:')
  greet(name)

Enter your Name:Siddhi
Hello Siddhi hope you are doing great

In [ ]:
name=input('Enter your Name:')
greet(name)

Enter your Name:Rahul
Hello Rahul hope you are doing great

2)write a function to return minimum amd maximum value from a list

In [ ]:
def min_max(list):
  m=min(list)
  n=max(list)
  return(m,n)

In [ ]:
min_n,max_n=min_max([12,16,78,1,56])

In [ ]:
print(min_n,max_n)

1 78

3)write a function to convert USD to INR

In [ ]:
def usd_inr(usd):
  return usd*83.40

In [ ]:
print(usd_inr(2))

166.8

4) create a basic calculator to perform operation on two number

In [ ]:
def calculator(num1,num2,opr):
  if opr=='+':
    return num1+num2
  elif opr=='-':
    return num1-num2
  elif opr=='*':
    return num1*num2
  elif opr=='/':
    return num1/num2
  else:
    return 'invalid operator'

In [ ]:
print(calculator(5,7,'-'))

-2

# Args & Kwargs:

args(non keyword arguments)=(*)

kwargs(keyword arguments)=(**)

In [ ]:
def addition(num1,num2):
  return num1+num2

In [4]:
addition(1,2,3)

NameError: name 'addition' is not defined

# To solve this type of error we use args(*)

In [9]:
 def add(*nums):
  sum=0
  for i in nums:
    sum=sum+i
  return sum

In [11]:
add(9,8,7,1)

25

kwargs(**): for key-value argument(dictionary)

In [18]:
def info(**students):
  for key,value in students.items():
    print(type(value))

In [22]:
info(name='siddhi',age=20,location='pune')
info(age=22,name='vaibhav',location='pune')

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'str'>

1) write a function to take variable number of numbers and add it to a list

In [25]:
def create_list(*nums):
  l=list()
  for i in nums:
    l.append(i)
  return l

In [26]:
create_list(9,8,7,6,4,33,2)

[9, 8, 7, 6, 4, 33, 2]

2)write a function to return a sentence by combining keyword argument words

In [42]:
def create_sentence(**words):
  sent=''
  for key,value in words.items():
    sent=sent+' '+value
  return sent

In [47]:
print(create_sentence(word1='I',word2='am',word3='good'))
print(create_sentence(word1='good',word2='to',word3='meet'))
print(create_sentence(letter4='I',letter5='am',letter6='good'))

 I am good
 good to meet
 I am good