# <center><u>Pandas <u></center>

## 1.[Pandas Series](https://pandas.pydata.org/pandas-docs/stable/reference/series.html)

## **`WATCH VIDEOS IN THE PORTAL`**

### **`Watch Video 1: Pandas Series`**

<p style='text-align: right;'> 1*4=4 points</p>

Import pandas and numpy with their aliases

In [ ]:
import pandas as pd
import numpy as np
print(pd)
print(np)

<module 'pandas' from '/usr/local/lib/python3.10/dist-packages/pandas/__init__.py'>
<module 'numpy' from '/usr/local/lib/python3.10/dist-packages/numpy/__init__.py'>

Create a variable a = pd.Series([ 100, 200, 300, 400])

In [ ]:
a = pd.Series([ 100, 200, 300, 400])

Print a, and data type

In [ ]:

a

0    100
1    200
2    300
3    400
dtype: int64

Using indexing access the element 300 from the series a.

In [ ]:
a[2]

300

What are the values of index for series a?

<p style='text-align: right;'> 2*4 = 8 points</p>

In [ ]:

a.index

RangeIndex(start=0, stop=4, step=1)

Change the index to  ['c', 'a', 'b', 'd']

In [ ]:
new_index=['c', 'a', 'b', 'd']
a.index=new_index
print('a with new index:\n',a)

a with new index:
 c    100
a    200
b    300
d    400
dtype: int64

Access the value in the series with index 'd'

In [ ]:
a['d']

400

Sort the values wrt to the index and print it

In [ ]:
sorted_by_index= a.sort_index(ascending=True)
print("\nSeries sorted by index(descending):")
print(sorted_by_index)

Series sorted by index(descending):
a    200
b    300
c    100
d    400
dtype: int64

Create a new Pandas Series b having index as 'e', 'f', and 'g' and value 800,450,100 and print it

<p style='text-align: right;'> 4*2=8 points</p>

In [ ]:
b = {'e': 800, 'f': 450, 'g': 100}
b = pd.Series(b)
print(b)

e    800
f    450
g    100
dtype: int64

Append b series at the end of a series

In [ ]:
a = pd.concat([a, b])

In [ ]:
#print a again after appending b into it

print(a)

c    100
a    200
b    300
d    400
e    800
f    450
g    100
dtype: int64

Sort the values in descending order of a and print the index of the sorted series

In [ ]:
a =a.sort_values(ascending=False)
print("\nSeries sorted by values(desending):")
print(a)

Series sorted by values(desending):
e    800
f    450
d    400
b    300
a    200
c    100
g    100
dtype: int64

In [ ]:

a.index

Index(['e', 'f', 'd', 'b', 'a', 'c', 'g'], dtype='object')

## 2. [Pandas DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html)


### **`Watch Videos 2: Pandas Dataframe`**

<p style='text-align: right;'> 8*2 = 16 points</p>

### Part 1

Create a pandas dataframe df from the series 'a' that we used in the last section, print the dataframe

In [ ]:
df = pd.DataFrame(a)
print(df)

     0
0  100
1  200
2  300
3  400

Point to ponder! Don't you think series a and dataframe df looks alike? But there must be some difference between them. Hey buddy think and write your thoughts below.

<p style='text-align: right;'> 5 points</p>

In [ ]:
print('series=1-dimensional data structure.')
print('\ndf=2-dimensional data structure.')

series=1-dimensional data structure.

df=2-dimensional data structure.

<p style='text-align: right;'> 2 + 1*4 = 6 points</p>

What is the shape of the datafarme <br>
(also, what does it imply?)

In [ ]:
df.shape

(4, 1)

Hey! remember shape (7,1) implies dataframe has 7 rows and 1 column.

What is the index of the dataframe, is it same as the series 'a'

In [ ]:
# yep its same as the series.
df.index

RangeIndex(start=0, stop=4, step=1)

print the head and tail of the dataframe. <br>
Additional - (what does head and tali represent?)

In [ ]:
print(df.head)
print(df.tail)

<bound method NDFrame.head of      0
e  800
f  450
d  400
b  300
a  200
c  100
g  100>
<bound method NDFrame.tail of      0
e  800
f  450
d  400
b  300
a  200
c  100
g  100>

In [ ]:
df

     0
0  100
1  200
2  300
3  400
e  800
f  450
g  100

Rename the column of the dataframe as 'points'

<p style='text-align: right;'> 2 points</p>

In [ ]:
df.columns = ['points']
print(df)

   points
0     100
1     200
2     300
3     400

Create another Series 'fruits', which contains random names of fruits from ['orange','mango','apple']. The series should contain 7 elements, randomly selected from ['orange','mango','apple']

<p style='text-align: right;'> 5 points</p>

In [ ]:
#Create fruits array

fruits_array = np.random.choice(['orange', 'mango', 'apple'], size=7)

print(fruits_array)

['apple' 'mango' 'apple' 'orange' 'orange' 'apple' 'mango']

In [ ]:
#Create series fruits out of fruits array

fruits = pd.Series(fruits_array)

fruits

0     apple
1     mango
2     apple
3    orange
4    orange
5     apple
6     mango
dtype: object

Change the index of fruits to the index of dataframe df

<p style='text-align: right;'> 5 points</p>

In [ ]:

fruits = pd.Series(np.resize(fruits.values, len(df)))
fruits.index = df.index
df.index

RangeIndex(start=0, stop=4, step=1)

Add this fruits series as a new column to the dataframe df with its column name as 'fruits'
<br>print the head of the dataframe to verify

In [14]:


df['fruits'] = fruits

# Print the head of the dataframe to verify
print(df.head())

     0  fruits
0  100   apple
1  200   mango
2  300   apple
3  400  orange

Bonus optional question:
What if we had to changed the index of the dataframe?
Try to add any series to the dataframe with the origianl index (when index of series is not same as to the index of dataframe)

Use series as pd.Series([100,200,300,400,500,600,700]) and try to add it to df with column name Bonus_number.

Bonus marks: 5 points

   points  fruits  Bonus_number
e     800   mango           NaN
f     450   mango           NaN
d     400   apple           NaN
b     300  orange           NaN
a     200   apple           NaN
g     100  orange           NaN
c     100   apple           NaN

### Part 2

### **`Watch Video 3: Pandas Concatenation`**

Create a dataframe  d1 where the cols are  ‘city’ : [‘Chandigarh’, ‘Delhi’, ‘Kanpur’, ‘Chennai’, ‘Manali’ ] and ‘Temperature’ : [15, 22, 20, 26,-2]

<p style='text-align: right;'> 2*5=10 points</p>

In [15]:
d1 = df = pd.DataFrame({'city': ['Chandigarh', 'Delhi', 'Kanpur', 'Chennai', 'Manali'],
                        'Temperature': [15, 22, 20, 26,-2]})
print(d1)

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

Print(d1)

In [16]:
d1

         city  Temperature
0  Chandigarh           15
1       Delhi           22
2      Kanpur           20
3     Chennai           26
4      Manali           -2

What is the shape of d1.

In [18]:

shape = d1.shape
print(shape)

(5, 2)

Set city = d1['city']

In [19]:
df['city'] = d1['city']

print city <br>
What is the type of city.

In [21]:
print(df['city'])
print(type(df['city']))

0    Chandigarh
1         Delhi
2        Kanpur
3       Chennai
4        Manali
Name: city, dtype: object
<class 'pandas.core.series.Series'>

Create another datafeame 'd2' where the columns are <br>
'city' - ['Bengalaru','Coimbatore','Srirangam','Pondicherry'] <br>
'Temperature' - [24,35,36,39]

<p style='text-align: right;'> 3+2+5 = 10 points</p>

In [22]:
d2 =df= pd.DataFrame({'city': ['Bengalaru','Coimbatore','Srirangam','Pondicherry'],
                        'Temperature': [24,35,36,39]})
print(d2)

          city  Temperature
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

print the shape of this dataframe

In [23]:
shape=d2.shape
print(shape)

(4, 2)

merge the two dataframes together, save it in a new dataframe named 'd3'

In [25]:
d3=pd.concat([d1,d2])
print(d3)

          city  Temperature
0   Chandigarh           15
1        Delhi           22
2       Kanpur           20
3      Chennai           26
4       Manali           -2
0    Bengalaru           24
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

# fun fact at high level

1. .concat() simply stacks multiple DataFrame together either vertically, or stitches horizontally after aligning on index
2. .merge() first aligns two DataFrame' selected common column(s) or index, and then pick up the remaining columns from the aligned rows of each DataFrame

Do you know about join function? This interesting quest we give to you to find.

Select the part of the dataframe such that it contains cities wherer temp is less then or equal to 20 <br>
How many cities are there?

<p style='text-align: right;'> 5+5=10 points</p>

In [30]:
# Assuming the dataframe `df` has a column named 'temp' for temperature
# Filter the DataFrame
filtered_cities = d3[d3['Temperature'] <= 20]

# Display the filtered DataFrame
print(filtered_cities)

# Count the number of such cities
num_cities = filtered_cities.shape[0]
print(f"Number of cities with temperature <= 20: {num_cities}")

         city  Temperature
0  Chandigarh           15
2      Kanpur           20
4      Manali           -2
Number of cities with temperature <= 20: 3

Select the part of the dataframe such that it contains the cities where tempearature greater than or equal to 35

In [31]:
filtered_cities = d3[d3['Temperature'] >= 35]
print(filtered_cities)

          city  Temperature
1   Coimbatore           35
2    Srirangam           36
3  Pondicherry           39

## 3. Applying functions to columns and creating new columns

### **`VIdeo 4: Top Pandas Commands in Data Science`**

**Note: You can watch full video for more learning or only from timestamp 17:00-20:00**

#### **`Additional Reference:`** https://www.geeksforgeeks.org/python-pandas-apply/

<p style='text-align: right;'> 20 points</p>

We need to create another column in d3, which contains  a boolean value for each city to indicate whether it's a union territory or not.
- HINT: Chandigarh, Pondicherry and Delhi are only 3 union territories here.

In [32]:

# Define the function to check if a city is a union territory
def is_ut(city):
    # List of union territories
    union_territories = ['Chandigarh', 'Pondicherry', 'Delhi']
    # Return True if the city is in the list, otherwise False
    return city in union_territories

# Assuming 'city' is the column in `d3` containing city names
d3['is_ut'] = d3['city'].apply(is_ut)

# Display the head of the updated DataFrame to verify
print(d3.head())

         city  Temperature  is_ut
0  Chandigarh           15   True
1       Delhi           22   True
2      Kanpur           20  False
3     Chennai           26  False
4      Manali           -2  False

In [33]:
# print d3
d3

          city  Temperature  is_ut
0   Chandigarh           15   True
1        Delhi           22   True
2       Kanpur           20  False
3      Chennai           26  False
4       Manali           -2  False
0    Bengalaru           24  False
1   Coimbatore           35  False
2    Srirangam           36  False
3  Pondicherry           39   True

The temperatures mentioned in ‘Temperature’ column are mentioned in Celsius, we need another column which contains the same in Fahrenheit.

HINT -
- Define a function c_to_f which takes input temp in celsius and returns a value with temperature in Fahrenheit.
- To check: c_to_f(10) should return 50.

In [34]:
# write function here
# Define a function to convert Celsius to Fahrenheit
def c_to_f(celsius):
    return (celsius * 9/5) + 32

# Check the function with a sample input
print(c_to_f(10))  # Should return 50

# Assuming the DataFrame `d3` has a column named 'Temperature' in Celsius
d3['Temperature_F'] = d3['Temperature'].apply(c_to_f)

# Display the head of the updated DataFrame to verify
print(d3.head())

50.0
         city  Temperature  is_ut  Temperature_F
0  Chandigarh           15   True           59.0
1       Delhi           22   True           71.6
2      Kanpur           20  False           68.0
3     Chennai           26  False           78.8
4      Manali           -2  False           28.4

In [35]:
# check function c_to_f(10)


c_to_f(10)

50.0

In [36]:
# apply function c_to_f to d3 to create a column 'temp_farenhiet'

# Example DataFrame
d3 = pd.DataFrame({
    'temp_celsius': [10, 20, 30, 40, 50]  # Example Celsius temperatures
})

# Define the c_to_f function
def c_to_f(celsius):
    return (celsius * 9/5) + 32

# Apply the function to the 'temp_celsius' column and create a new 'temp_fahrenheit' column
d3['temp_fahrenheit'] = d3['temp_celsius'].apply(c_to_f)

# Display the updated DataFrame
print(d3)

   temp_celsius  temp_fahrenheit
0            10             50.0
1            20             68.0
2            30             86.0
3            40            104.0
4            50            122.0

## 4. Indexing and selecting rows in DataFrame

### Reference: **`Video 5: Indexing DataFrame`**

<p style='text-align: right;'> 20 points</p>

Select subset of the dataframe d1 such that it contains the cities which are union territories.

In [37]:
# Example DataFrame (replace with your actual DataFrame)
d1 = pd.DataFrame({
    'city': ['Delhi', 'Chandigarh', 'Mumbai', 'Kolkata', 'Puducherry'],
    'city_type': ['Union Territory', 'Union Territory', 'State', 'State', 'Union Territory']
})

# Filter the DataFrame to select only Union Territories
ut_subset = d1[d1['city_type'] == 'Union Territory']

# Display the filtered DataFrame
print(ut_subset)

         city        city_type
0       Delhi  Union Territory
1  Chandigarh  Union Territory
4  Puducherry  Union Territory

Select a subset of the dataframe d1 such that it contains the cities which only have temperature above 90 Farenhiet.

In [40]:
# Example DataFrame (replace with your actual DataFrame)
d1 = pd.DataFrame({
    'city': ['Delhi', 'Chandigarh', 'Mumbai', 'Kolkata', 'Puducherry'],
    'temperature_fahrenheit': [95, 85, 91, 88, 92]  # Temperatures in Fahrenheit
})

# Filter the DataFrame to select only cities with temperatures above 90°F
subset_above_90 = d1[d1['temperature_fahrenheit'] > 90]

# Display the filtered DataFrame
print(subset_above_90)

         city  temperature_fahrenheit
0       Delhi                      95
2      Mumbai                      91
4  Puducherry                      92

Select only the first three rows of the dataframe d1.

In [39]:
d1.iloc[:3]

         city        city_type
0       Delhi  Union Territory
1  Chandigarh  Union Territory
2      Mumbai            State

Select all the rows and last two columns in the dataframe.

In [41]:
d3.iloc[:,-2:]

   temp_celsius  temp_fahrenheit
0            10             50.0
1            20             68.0
2            30             86.0
3            40            104.0
4            50            122.0

## 5. Reading csv file and group by

### Reference: **`Video 6: Reading CSV Files in Colab`**

### **`Video 7: Pandas group by`**

<p style='text-align: right;'> 2*2=4 points</p>

Read the file 'weather_data.csv' and store it in a pandas dataframe 'df'

In [ ]:
df =

print the shape and head of the dataframe

(6, 4)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

Group the dataframe wrt to 'event' and save the resulting output in a variable named 'g'

<p style='text-align: right;'> 5*3 = 15 points</p>

In [ ]:
g =

Print g and  type(g)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7fd3580e09d0>
<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

Iterate over all the temperatures in g and print them

('Rain',         day  temperature  windspeed event
0  1/1/2017           32          6  Rain
4  1/5/2017           32          4  Rain)
('Snow',         day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow)
('Sunny',         day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
5  1/6/2017           31          2  Sunny)

Use the describle method on g to get the complete description on it.

      temperature                                               windspeed  \
            count  mean       std   min   25%   50%   75%   max     count
event
Rain          2.0  32.0  0.000000  32.0  32.0  32.0  32.0  32.0       2.0
Snow          2.0  26.0  2.828427  24.0  25.0  26.0  27.0  28.0       2.0
Sunny         2.0  33.0  2.828427  31.0  32.0  33.0  34.0  35.0       2.0


      mean       std  min   25%  50%   75%  max
event
Rain   5.0  1.414214  4.0  4.50  5.0  5.50  6.0
Snow   4.5  3.535534  2.0  3.25  4.5  5.75  7.0
Sunny  4.5  3.535534  2.0  3.25  4.5  5.75  7.0

Create a new column in the dataframe df, named 'hot_temp' which contains True if temp is above 30, else False

<p style='text-align: right;'> 5 points</p>

In [ ]:
#code here to filter df with above condition
df['hot_temp'] =

In [ ]:
# print df

        day  temperature  windspeed  event  hot_temp
0  1/1/2017           32          6   Rain      True
1  1/2/2017           35          7  Sunny      True
2  1/3/2017           28          2   Snow     False
3  1/4/2017           24          7   Snow     False
4  1/5/2017           32          4   Rain      True
5  1/6/2017           31          2  Sunny      True

## Data Range

### Reference:-**`Video 8: Pandas Date Range`**

<p style='text-align: right;'> 5*3 = 15 points</p>

Create a pandas daterange where starting date is 1st of January,2020 and end date is 1st of April 2021, store it in a new variable named 'a'

In [ ]:
a =

print a

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10',
               ...
               '2020-12-26', '2020-12-27', '2020-12-28', '2020-12-29',
               '2020-12-30', '2020-12-31', '2021-01-01', '2021-01-02',
               '2021-01-03', '2021-01-04'],
              dtype='datetime64[ns]', length=370, freq='D')

What is the len of a?

370

What is the type of a?

pandas.core.indexes.datetimes.DatetimeIndex

________________
# Hey high five! You solved the 4th milestone challenge too! Pawri to banti hai ;)
________________